li {
  padding: 10px 0;
}

button {
  font-size: 30px;
  margin-right: 30px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
}

/* Class */
.navBar {
  width: 100%;
  background-color: #111;
  color: white;
  padding: 10px;
}

.links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  font-weight: bold;
}

.show-nav {
  height: 120px;
}

.border {
  border: 2px indigo dashed;
}

.d-table {
  display: table;
}

.d-table-cell {
  display: table-cell;
}

.w-100 {
  width: 100%;
}

.tar {
  text-align: right;
}

.input-u {
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
}
.input-u:focus {
  border-color: green;
}

.inp {
  border: 0;
  border-bottom: 1px solid #1890ff;
  padding: 5px 10px;
  outline: 0;
}

.center {
  text-align: center;
}

.StockList {
  margin: 0 2.5rem;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
}

.StockListItem {
  box-shadow: border-box;
  flex: 0 0 98%;
  list-style: none;
  display: flex;
  padding: 2rem;
  margin: 0.25rem;
  text-align: left;
  flex-flow: column wrap;
  background-color: #fefefe;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media only screen and (min-width: 600px) {
  .StockListItem {
    flex: 0 0 48%;
  }
}

@media only screen and (min-width: 1024px) {
  .StockListItem {
    flex: 0 0 24%;
  }
}

.StockListItem:hover {
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.24), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.StockListItem > * {
  letter-spacing: 1px;
  font-weight: 500;
}
.StockListItem > * span {
  color: #757575;
  font-weight: 400;
}

.SearchBar {
  height: 50px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.SearchBar__Input {
  outline: none;
  width: 50%;
  height: 35px;
}

button.SearchBar__Button {
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  self-align: stretch;
  align: left;
  color: #fff;
  max-width: 200px;
  width: 25%;
  height: 34px;
}

@media only screen and (min-width: 600px) {
  .SearchBar__Input {
    width: 65%;
  }
}
